body {
    width: 900px;
    margin: auto;
}

/*usar OBJ. FORM.*/

.borda {
    border-bottom: 3px solid #add26b;
    padding-top: 10px;
    width: 85%;
    float: right;
}

/*não usado*/

.sem-margin {
    margin: 0px;
}
.sem-padding td {
    border-collapse: collapse;
    padding: 0px;
    border-spacing: 0px;
}

/*display não usar*/

.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-item-1 {
    flex: 1;
}

/*header*/

h1 {
    text-align: center;
    background-color: #a7ce60;
    border-radius: 10px;
    padding: 5px;
    font-weight: 500;
    
}
.retrato {
    margin: 0;
    margin-right: 80px;
    margin-top: 5px;
    width: 20%;
    float: left;
}
.retrato img {
    border: 2px solid black;
    border-radius: 50%;
    width: 100%;
}
.dados {
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: 28%;
    width: 55%;
}
.dados h2 {
    display: inline-block;
    font-weight: 500;
    margin: 5px auto;
    color: #add26b;
    font-size: 20px;
}
.dados p {
    display: inline-block;
    width: auto;
    margin: 5px auto;
    font-size: 20px;
    text-indent: 10px;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: black;
}

/*article-objetivos*/

.objetivos h2 {
    font-size: 130%;
}
.objetivos p {
    font-size: 90%;
    margin-bottom: 50px;
    text-indent: 0.5em;
    font-weight: 500;
}

/*article-formação*/

.formacao p {
    font-size: 90%;
    margin: 0px;
    font-weight: 500;
}
.formacao h2 {
    display: inline;
    font-size: 130%;
}
.formacao h3 {
    margin-bottom: 0px;
    margin-top: 25px;
    font-size: 100%;
}
.SA {
    margin-bottom: 40px !important;
}

/*article-Skills*/

.ponto{
    width: 62%;
    display: inline-block;
}
.ponto div {
    width: 12px;
    height: 12px;
    background-color: #add26b;
    border-radius: 40%;
    border: 1px solid black;
    margin-left: 5px;
    margin-top: 1px;
    display: inline-block;
}
.HPI {
    width: 44%;
    padding-right: 3%;
    border-right: 3px solid #add26b;
    float: left;
    margin: 0 0;
}
.HPI h2 {
    border-bottom: 2px solid #add26b;
    font-size: 20px;
    margin: 18px 0px;
}
.HPI p {
    margin-right: 5px;
    width: 35%;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 5px auto;
}
.i p {
    display: block !important;
    margin: 5px !important;
    font-weight: normal !important;
    font-size: 15px !important;
    width: 100%;
}

/*article-experiências*/

.ex {
    width: 50%;
    float: right;
    margin: 0px;
    height: 611px;
}
.ex h2 {
    border-bottom: 2px solid #add26b;
    width: 100%;
    text-indent: 0.5em;
    margin-top: 15px;
}
.experiencia h3 {
    text-indent: 0.5em;
    display: inline-block;
    margin: 0px;
    font-size: 18px;
}
.experiencia p {
    padding-left: 10px;
    font-size: 15px;
    margin-bottom: 35px;    
    margin-top: 0px;
    text-indent: 0.5em;
    font-weight: 500;
}
.ep {
    font-size: 125% !important;
    display: inline-block;
    margin: 0px 7px !important;
    padding: 0px !important;
}