* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);

    min-width: 50%;

    padding: 15px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

form .button {
    width: 100%;

    padding: 5px;

    border: 1px solid rgba(128, 0, 128, 0.4);
    border-radius: 5px;

    font-size: 20px;

    color: gray;

    transition: 300ms;
}

form .button:hover {
    color: black;

    cursor: pointer;

    background-color: #EAEAE5;

    border: 1px solid rgba(128, 0, 128, 0.6);
}

form .button:focus {
    outline: none;
}

.group-inputs {
    display: flex;
}

.group-inputs:first-child .input-label {
    width: 100%;
}

.input-label {
    display: flex;
    flex-direction: column;

    width: 100%;

    position: relative;

    margin: 15px 5px 15px;
}

.input-label label {
    position: absolute;
    top: 50%;left: 5px;

    font-size: 18px;

    color: grey;
    
    transform: translateY(-50%);
    
    transition: 500ms;
}

.input-label label.up {
    transform: translateY(-200%);
    color: black;
}

.input-label input {
    border: none;
    border-bottom: 1px solid purple;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    background-color: #F0F0F5;

    font-size: 18px;

    padding: 10px;
}

.input-label input:focus {
    outline: none;
}

.radio-input {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;

    margin-bottom: 10px;

    font-size: 20px;

    width: 100%;

    color: grey;
}
