[submodule "Programacao_Orientada_a_Objeto/2021-05-12 - Android_Alcoolina/Android_Alcoolina"]
	path = Programacao_Orientada_a_Objeto/2021-05-12 - Android_Alcoolina/Android_Alcoolina
	url = git@github.com:DouglasSerena/Android_Alcoolina.git
[submodule "Programacao_Orientada_a_Objeto/2021-05-26 - Android_Health/Android_Health"]
	path = Programacao_Orientada_a_Objeto/2021-05-26 - Android_Health/Android_Health
	url = git@github.com:DouglasSerena/Android_Health.git
[submodule "Event Finder - LDP"]
	path = Event Finder - LDP
	url = git@github.com:DouglasSerena/event-finder.git
