[submodule "Programacao_Orientada_a_Objeto/2021-05-12 - Android_Alcoolina/Android_Alcoolina"]
	path = Programacao_Orientada_a_Objeto/2021-05-12 - Android_Alcoolina/Android_Alcoolina
	url = git@github.com:DouglasSerena/Android_Alcoolina.git
[submodule "Programacao_Orientada_a_Objeto/2021-05-26 - Android_Health/Android_Health"]
	path = Programacao_Orientada_a_Objeto/2021-05-26 - Android_Health/Android_Health
	url = git@github.com:DouglasSerena/Android_Health.github
[submodule "Event_Finder"]
	path = Event_Finder
	url = git@github.com:DouglasSerena/Event_Finder.git
