/*colunas / linahs*/

.linha{
    width: 960px;
    margin: 0 AUTO;
    overflow: auto;
    padding: 5px 0px;
}
.coluna{
    padding: 0px 10px;
    float: left;
}
.col1{
    width: 60px;
}
.col2{
    width: 140px;
}
.col3{
    width: 220px;
}
.col4{
    width: 300px;
}
.col5{
    width: 380px;
}
.col6{
    width: 460px;
}
.col7{
    width: 540px;
}
.col8{
    width: 620px;
}
.col9{
    width: 700px;
}
.col10{
    width: 780px;
}
.col11{
    width: 860px;
}
.col12{
    width: 940px;
}

/*styles*/

.head{
    font-weight: 700;
    font-size: 50px;
    text-align: center; 
}
.color{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.textPadrao{
    font-size: 20px;
    font-weight: 500;    
}
.bordas {
    border: solid, 10px, white;
}