/*Reutilizaveis*/

body {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    border-collapse: collapse;
    margin: 0px auto;
    padding: 0px;
}
.scorll-hidden iframe {
    width: 100%;
    overflow-y: hidden;
    display: none;
}
.row {
    width: 900px;
    margin: auto;
    margin-top: 8px;
    background-color: white;
    display: block;
    border-left: 3px solid #dfdfdf;
    border-right: 3px solid #dfdfdf;
    padding: 0 40px;
}
/*links*/

a.link {
    width: 100%;
    height: 100%;
    text-decoration: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*corpo*/

#geral {
    background-color: #ebeaeb;
}
#geral input[type="radio"]{display: none;}
#geral input[type="radio"]:checked + div {
    display: block;
}
.selecionar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}