/*escrita*/ 
.fonteNoticia {
    font-size: 15px;
    font-weight: 100;
    padding-bottom: 18px;
    padding-top: 5px;
}
.jogador {
    float: left;
    height: 50px;
    margin: 0px;
    width: 630px;
    font-size: 15px;
    font-weight: 100;
    padding: 10px 0px;
    font-weight: initial;
}
.jogador-time {
    font-size: 13px;
    font-weight: initial;
    color: rgb(102, 102, 102);
    padding-left: 5px;
    vertical-align: -5px;
}
.gols p {
    width: 200px;
    margin: 0px;
    font-size: 15px;
    text-align: right;
    margin-bottom: 30px;
}
.cabecario th{
    font-size: 15px;
    font-weight: initial;
    color: rgb(102, 102, 102);
    text-align: left;
    padding-bottom: 5px;
    width: 200px;
}
/*corpo*/
.class-jogador {
    float: left;
    padding: 0px 20px 0px 10px;
    height: 75px;
}
.sides {
    margin: 0px 10px;
    padding: 10px 18px 0px 18px;
    border-left:2px solid #eeeeee;
    border-right:2px solid #eeeeee;
    border-bottom: 3px solid #eeeeee;
}
/*img*/
.jogador img {
    width: 20px;
    height: 19px;
    vertical-align: -10px;
    padding: 10px 10px 0px 0px;
}