@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './nav-bar.css';
@import './message.css';
@import './upload.css';

* {
  font-family: 'Roboto', sans-serif;
}

td,
th {
  vertical-align: middle;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
#container {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 200px repeat(2, 1fr);
  grid-template-areas: 'h h h' 'a m m' 'f f f';
}
#header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;

  height: 10vh;
  width: 100%;
  grid-area: h;
}
#aside {
  position: relative;
  min-height: 85vh;
  width: 100%;
  grid-area: a;
}
#main {
  position: relative;
  min-height: 85vh;
  overflow-y: auto;

  width: 100%;
  grid-area: m;
  padding: 10px 20px;

  transition: 500ms;
}
#footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 20px;

  min-height: 5vh;
  width: 100%;
  grid-area: f;
}
@media (max-width: 675px) {
  #container {
    grid-template-areas: 'h h h' 'a a a' 'm m m' 'f f f';
  }
  #aside {
    min-height: auto;
    height: 0;
    transition: 250ms;
  }
  #aside.open {
    height: 100%;
  }
}
