header {
    background-color: #775ba6;
}
footer {
    background-color: #775ba6;
}
.w-area {
    width: 88%;
    outline: 0;
    resize: none;
}
.border-cor h1 {
    font-weight: 900;
}
.border-cor p {
    background: rgba(228, 228, 228, 0.452);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #775ba6;
    padding-bottom: 0;
}