/*Reutilizaveis*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

.sem-margin {
    margin: 0px;
}

.sem-padding {
    padding: 0px;
}
.inline {
    display: inline-block;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.border-top td {
    border-top: 2px solid #eeeeee;
}
.border-left {
    border-left: 1px solid #e2e2e2;
}
a.link {
    width: 100%;
    height: 100%;
    text-decoration: none;
}
* {
    border-collapse: collapse;
}

/*pagina dinamica*/


#geral input[type="radio"]{display: none;}
#geral input[type="radio"]:checked + div {
    display: block;
}
.row {
    width: 900px;
    margin: auto;
    margin-top: 8px;
    background-color: white;
    display: none;
    border-left: 3px solid #dfdfdf;
    border-right: 3px solid #dfdfdf;
}

/*estilo dos botões do menu*/

.botoes div{
    margin-top: 36px;
    width: 175px;
    display: inline-block;
    padding: 10px 0;
}

.botoes div:hover{
    background-color: rgb(31, 34, 41);
    border-bottom: 4px solid white;
}
.menu label {
    text-align: center;
    background-color: rgb(39, 43, 51);
    color: white;
    font-size: 15px;
    font-weight: unset;
}

/*menu*/

.menu {
    background-color: rgb(39, 43, 51);
    height: 120px;
    border-bottom: 2px solid #dfdfdf;
    position: fixed;
    width: 100%;
}

.menu h1 {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    padding-top: 10px;
}

/*corpo da pagina*/

#geral {
    background-color: #ebeaeb;
    padding-top: 118px;
}

.paddingSides {
    padding: 0 40px;
}

/*impedir seleção do conteúdo*/

.selecionar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}