html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: tomato;
    color: white;
    text-align: center;
}
main h2 {
    color: rgba(0, 0, 0, 0.541176);
    font-size: 28px;
    line-height: 1.22;
    letter-spacing: -.012em;
    margin-top: 5px;
    margin-bottom: 22px;
}
a {
    color: tomato;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
  }