* {
    border-collapse: collapse;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
    padding: 0px;
    width: 85%;
}
a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

/* capeçario */

header {
    background-color: #775ba6;
    border: 1px solid rgba(0, 0, 0, 0.082);
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    color: white;
    display: block;
    height: 150px;
    margin-top: 2%;
    padding: 2% 1.5% 2% 1.5%;
    width: 100%;
}
header h1 {
    font-size: 30px;
    font-weight: 900;
    font-size: 20px;
    font-weight: 600;
    width: auto;
}
header p {
    font-size: 20px;
    font-weight: 600;
    width: auto;
}

/* barra lateral */

sidebar {
    float: left;
    padding: 2% 1% 0px 0px;
    width: 25%;
}
sidebar article {
    background-color: white;
    border: 1px solid rgba(148, 148, 148, 0.185);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.226);
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
sidebar article h2 {
    display: inline-block;
    font-size: 15px;
    font-family: 100;
    padding-left: 5px;
    vertical-align: 2px;
    width: auto;
}
sidebar article p {
    font-size: 12px;
    font-family: 100;
    padding-left: 5px;
    vertical-align: 2px;
    width: auto;
}
sidebar article p strong {
    color: darkslategray;
}

/* conteudo */

section {
    float: right;
    padding: 2% 0px 0px 1%;
    width: 75%;
}
section article {
    background-color: white;
    border: 1px solid rgba(148, 148, 148, 0.185);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.226);
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}
section article h2 {
    display: inline-block;
    margin-bottom: 10px;
}
section article p {
    background-color: rgba(228, 228, 228, 0.452);
    border-bottom: 2px solid #775ba6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 3%;
    padding: 10px;
    width: 95%;
}

/* post */

form {
    background-color: white;
    border: 1px solid rgba(148, 148, 148, 0.185);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.226);
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}
form #postar textarea {
    background-color: rgba(228, 228, 228, 0.452);
    border: none;
    border-bottom: 2px solid #8138c0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-indent: 10px;
    padding: 10px;
    resize: none;
    outline: 0;
    width: 100%;
}
form #postar-frente textarea {
    border: none;
    padding: 5px;
    resize: none;
    outline: 0;
    vertical-align: -2px;
    width: 90%;
}
form input {
    border: none;
    border-radius: 3px;
    color: gray;
    cursor: pointer;
    float: right;
    font-weight: 900;
    margin-left: 5px;
    padding: 9px 0px 9px 0px;
    width: 90px;
}
form input:focus {
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
}
form #postar {
    display: none;
    width: 100%;
}
form #postar-frente {   
    width: 100%;
}
form span input {
    background-color: #8138c0;
    color: white;
}

/* rodapé */

footer {
    background-color: #775ba6;
    border: 1px solid rgba(0, 0, 0, 0.157);
    border-radius: 5px;
    box-shadow: 1.5px 1.5px 5px black;
    clear: both;
    color: white;
    margin-bottom: 2%;
    padding: 2% 1.5% 2% 1.5%;
    width: 100%;
}
footer p {
    text-align: center;
}